<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <img class="img-responsive" src="{{ site.baseurl }}/img/profile.png" alt="profile-pic" />
      </div>
      <div class="col-lg-4">
      <ul>
        <li><p>Pittsburgh, PA / Seoul</p></li>
        <li><p>Favorite activity: breaking things apart and putting them back together</p></li>
        <li><p>(Current) Interests: landscapes / geography / feng shui, translation, dreams, …</p></li>
        <li><p><a href="https://wrct.org/show/274789/">Check out me + my friends' radio show <3</a></p></li>
        <li><p><a href="mailto:0513ksy@gmail.com">Email me</a></p></li>
        <li><p><a href="https://www.instagram.com/iriseoyoungg/">Instagram</a></p></li>
        <li><p><a href="https://soundcloud.com/iriseoyoung">Soundcloud</a></p></li>
      </ul>


    </div>
  </div>
</section>
